body {
    background-color: #141922 !important;
}

.transition-nav {
    transition: background-color 0.3s;
}

.nav-link:hover {
    color: white;
    background-color: red !important;
}

.nav-link.active {
    background-color: #ad2e32 !important;
}

.img-icon {
    width: 30px;
    transition: transform 0.3s ease;
}

.img-icon:hover {
    transform: translateY(-5px);
}