html, body {
    color: white;
    background-color: #141922;
    height: 100%;
    margin: 0;
}
  
main {
    flex: 1 0 auto;
}

header {
    background-color: black;
}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 1.35rem;
}

.nav-link:hover {
    color: white;
    background-color: red !important;
}

.nav-link.active {
    background-color: #ad2e32 !important;
}

.profile-picture {
    width: 100%;
    max-width: 500px;
    border-radius: 2%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-picture:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0;
}

.socials a img {
    width: 30px;
    transition: transform 0.3s ease;
}

.socials a:hover img {
    transform: translateY(-5px);
}

article {
    white-space: pre-line;
}