body {
    background-color: #141922 !important;
}

.transition-nav {
    transition: background-color 0.3s;
}

.nav-link:hover {
    color: white;
    background-color: red !important;
}

.nav-link.active {
    background-color: #ad2e32 !important;
}

.profile-picture {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-picture:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.img-icon {
    width: 30px;
    transition: transform 0.3s ease;
}

.img-icon:hover {
    transform: translateY(-5px);
}